/* * Styling for floating labels */
.floatingInput:focus ~ label
/* ,.select:focus ~ label  */ {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}

.-z-1 {
  z-index: -1;
}

.origin-0 {
  transform-origin: 0%;
}

.floatingInput:focus ~ label,
.floatingInput:not(:placeholder-shown) ~ label,
.floatingTextarea:focus ~ label,
.floatingTextarea:not(:placeholder-shown) ~ label,
.floatingSelect:focus ~ label,
.floatingSelect:not([value=""]):valid ~ label {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.5rem;
}

/* *Brightness filters */
.dimmer-33 {
  filter: brightness(33%);
}
.dimmer-50 {
  filter: brightness(50%);
}
.dimmer-75 {
  filter: brightness(75%);
}

/* * Rotate an object, image, etc. */
.rotate180 {
  transform: rotate(180deg);
}
.rotate90 {
  transform: rotate(90deg);
}

/* * Remove underline styling for buttons */
@media (hover: hover) and (pointer: fine) {
  .noUnderline:hover,
  .noUnderline:focus,
  .button:hover,
  .button:focus {
    text-decoration: none;
  }
}

/* TODO Border styling. Change the settings to match the design */
.border {
  border: 0px 0px 2px 0px black;
  /* box-shadow: 2px 2px 2px 2px red;; */
}

/* TODO Hover styling. Change the settings to match the design */
.hover:hover,
.hover:focus {
  transition: 200ms ease-in-out;
  cursor: pointer;
  /* background-color: red; */
}

/** Make a div into a square */
.square {
  aspect-ratio: 1;
}

/* ! Animation area */
/** Keyframes */
@keyframes top-to-bot {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(480px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(-480px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes opacity-to-100 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropdown-fade {
  0% {
    opacity: 0;
    /* transform: translateY(-6px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0px); */
  }
}
/** Animations */
.fadeToBlack {
  background: rgba(0, 0, 0, 0.5);
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-play-state: running;
  animation-name: opacity-to-100;
}
.animateSmooth {
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-play-state: running;
  animation-name: top-to-bot;
}
.animateDropdown {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-play-state: running;
  animation-name: dropdown-fade;
}
.animateUnderline {
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#000, #000);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease, background-position 0s 0.4s ease;
}

.animateUnderline:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
