/*!* Makes tailwind work */
@tailwind base;

@tailwind components;
@tailwind utilities;
@layer base {
  /* h1,
  h2,
  h3,
  h4 {
    @apply font-sans;
  }
  h1 {
    @apply text-h1;
    @apply md:text-[32px];
    @apply lg:text-[48px];
    @apply font-bold;
  }
  h2 {
    @apply text-[20px];
    @apply md:text-[24px];
    @apply lg:text-[40px];
    @apply font-semibold;
  }
  h3 {
    @apply text-[16px];
    @apply md:text-[18px];
    @apply lg:text-[20px];
    @apply font-semibold;
  }
  p,
  a {
    @apply text-[16px];
  }
  a {
    @apply: cursor-pointer;
  } */
}

body {
  /* * Select font and swap for removing FOWT */
  font-family: Open Sans;
  font-display: swap;

  /* * User can't select text or copy content */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  
  /* * Anti-aliasing to to make fonts smoother */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* ? Insert webfonts below */
