/*!* Makes tailwind work */
@tailwind base;
body {
  /* * Select font and swap for removing FOWT */
  font-family: Montserrat;
  font-display: swap;
  /* * User can't select text or copy content */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  /* * Anti-aliasing to to make fonts smoother */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* TODO Insert font styles from webfonts helper here.
   TODO Remember to remove the .. in the import to get the import right  */

@tailwind components;
@tailwind utilities;

/* TODO Change the settings to match the design */
@layer base {
  h1 {
    @apply text-h2;
    @apply lg:text-h1;
    @apply font-bold;
  }
  h2 {
    @apply text-h3;
    @apply lg:text-h2;
    @apply font-semibold;
  }
  h3 {
    @apply text-h4;
    @apply lg:text-h3;
    @apply font-semibold;
  }
  p,
  a {
    @apply text-body_regular;
  }
  a {
    @apply: cursor-pointer;
  }
}
